<div class="row">

    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
      <div class="col-lg-11">
  
          <ul>
              <li>
                  <h1> Estudio 1</h1> <h3> (1 anio)</h3>
              </li>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, praesentium modi ullam, vitae labore error ipsam voluptate ut aut minus nobis unde! Id vitae consequatur doloremque consectetur, recusandae eveniet corporis.
              </p>
              <li>
                  <h1> Estudio 2</h1> <h3> (1 anio)</h3>
              </li>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, praesentium modi ullam, vitae labore error ipsam voluptate ut aut minus nobis unde! Id vitae consequatur doloremque consectetur, recusandae eveniet corporis.
              </p>
              <li>
                  <h1> Estudio 3</h1> <h3> (1 anio)</h3>
              </li>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, praesentium modi ullam, vitae labore error ipsam voluptate ut aut minus nobis unde! Id vitae consequatur doloremque consectetur, recusandae eveniet corporis.
              </p>
          </ul>
  
    </div>
  </div>