<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto quaerat ex aut debitis nemo consectetur ullam illo laborum eaque tempore! Laboriosam fugiat illo expedita eaque inventore quae dignissimos sint eos! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatum, quaerat dolores quis saepe eum, sunt optio qui odio id, voluptas ab fugiat. Quae quidem provident aut quis laboriosam amet! Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus pariatur aperiam vitae molestias totam voluptates dolorum. Tempora, optio est? Aliquam iure ipsa excepturi recusandae nulla pariatur voluptates ratione facilis corrupti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam officia aliquam maxime mollitia eos inventore corrupti velit sint eveniet quasi consectetur ipsam numquam, distinctio ab explicabo nisi amet aperiam non.
        </div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
    <img src="../../../assets/proyecto.jpg" class="img-fluid img-proyecto">
</div>
    </div>

</div>